<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
  </div>
</div>
<% else %>

  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <h2>
      This is the home page for the
      <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    
    <%= image_tag("https://3hggz2ftdz41fqjfc37yqew1-wpengine.netdna-ssl.com/wp-content/uploads/FireMon-Demo.jpg", 
    alt: "bg", class: "img_home") %>  
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <!--<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>-->
  <div class="kitten_image">
  
  <!--https://3hggz2ftdz41fqjfc37yqew1-wpengine.netdna-ssl.com/wp-content/uploads/FireMon-Demo.jpg-->
  
  <!--<%= image_tag("https://scontent.fbkk8-4.fna.fbcdn.net/v/t1.0-9/91910101_1473648022816706_5435829838109736960_o.jpg?_nc_cat=100&_nc_sid=84a396&_nc_eui2=AeHvlYdGL9AOUlm3bL9sDB5TBVQRniMibEKK9OnGIvbQDEd9KaKONgRXOUf3V88bxk_HniByBLEYIzlhZMcI5-8KufEicBYd9jhnxBp69sIDwg&_nc_ohc=41syG51o86sAX_z4wIt&_nc_ht=scontent.fbkk8-4.fna&oh=a64c5432011d196aa3be84a5e1d72851&oe=5EAE9F8D", 
    alt: "kitten", class: "img") %>  -->
  </div>
<% end %>
