<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <span> Remember me on this computer</span>
      <% end %>
    </div>

    <%= f.submit "Log in", class: "btn btn-primary" %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  <% end %>
  </div>
</div>
 
 
<!--<div class="row">-->
<!--  <div class="col-md-6 col-md-offset-3">-->

<!--</div-->